
                
                
                
                                        
                             
              
                <div class="first_block">
                                <div class="row">
                
                
                                        <div class="col-sm-2"><h1>Logo</h1></div>
                                        <div class="col-sm-2"><h1>Ini</h1></div>
                                            
                                        <div class="col-sm-6"><h1>Liste des ventes</h1></div>
                
                                        <div class="col-sm-2"><h1>out</h1></div>
                                </div>
                                </div>
                
                                <div class="scrollbar" id="style-4">
                                <div class="row">
                                       <div class="col-sm-3"><h1 id="stock">Voiture</h1></div>
                                       
                                      
                                </div>
                                <hr>
                                 <div class="row">
                                       <div class="col-sm-2"><h2>Client</h2></div>
                                       <div class="col-sm-2"><h2>Voiture</h2></div>
                                       <div class="col-sm-6 offset-1"><h2>Etat de livraison</h2></div>
                                      
                                      
                                </div><hr>
                                <div class="row">
                                       <div class="col-sm-2"><h3>JMClient</h3></div>
                                       <div class="col-sm-2"><h3>Porshe</h3></div>
                                       <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                </div>
                                  <hr>

                                    <div class="row">
                                       <div class="col-sm-2"><h3>JMClient</h3></div>
                                       <div class="col-sm-2"><h3>Porshe</h3></div>
                                       <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                </div>
                                  <hr>
                                  <div class="row">
                                                <div class="col-sm-2"><h3>JMClient</h3></div>
                                                <div class="col-sm-2"><h3>Porshe</h3></div>
                                                <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                         </div>
                                           <hr>
                                           <div class="row">
                                                        <div class="col-sm-2"><h3>JMClient</h3></div>
                                                        <div class="col-sm-2"><h3>Porshe</h3></div>
                                                        <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                                 </div>
                                                   <hr>
                                                   <div class="row">
                                                                <div class="col-sm-2"><h3>JMClient</h3></div>
                                                                <div class="col-sm-2"><h3>Porshe</h3></div>
                                                                <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                                         </div>
                                                           <hr>
                                                           <div class="row">
                                                                        <div class="col-sm-2"><h3>JMClient</h3></div>
                                                                        <div class="col-sm-2"><h3>Porshe</h3></div>
                                                                        <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                                                 </div>
                                                                   <hr>
                                                                   <div class="row">
                                                                                <div class="col-sm-2"><h3>JMClient</h3></div>
                                                                                <div class="col-sm-2"><h3>Porshe</h3></div>
                                                                                <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                                                         </div>
                                                                           <hr>
                                                                           <div class="row">
                                                                                        <div class="col-sm-2"><h3>JMClient</h3></div>
                                                                                        <div class="col-sm-2"><h3>Porshe</h3></div>
                                                                                        <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                                                                 </div>
                                                                                   <hr>
                                                                                                                                                                                               
                                  
                                        
       
                                        
                        
            
            
  
