
<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1>Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Gestion des devis</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/acceuil']"><img src="../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <div class="second_block">
   
    <div class="row">
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/ventes']">Ventes</h1></div>
           <div class="col-sm-6"><h1 id="stock" [routerLink]="['/parc_auto']">Parc automobile</h1></div>
           
          
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-4 offset-1 ">
        <label for="client">Choisissez un client: </label>
        <select name="" id="client">
            <option value="1">JM dudu</option>
            <option value="2">JM dodu</option>
            <option value="3">JM dadu</option>
        </select>
    </div>
    
    <br>
    <div class="col-sm-4 offset-2"><button>Ajouter client</button></div>
 </div>
 <br>
    <div class="row">
            <div class="col-sm-5 offset-1 ">
                    <label for="voiture">Choisissez une voiture: </label>
                    <select name="" id="voiture">
                    <option value="1">Mercedes-Benz</option>
                    <option value="2">Porsche</option>
                    <option value="3">Ferrari</option>
                </select>
            </div>
          
            <div class="col-sm-6">
            <label for="quantité">Quantité: </label>
            <input type="text" name="" id="quantité">
        </div>
    
   
</div>
<br>
<div class="row">
        <div class="col-sm-12">
          <textarea name="" id="" cols="12" rows="10">
Lorem ipsum dolor sit amet consectetur, adipisicing elit.
Culpa quisquam eaque, dolorem esse a tenetur voluptate assumenda!
Ut, voluptate. Quasi perferendis omnis nihil voluptatem dolorem debitis,
unde nisi! Quo, iste?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolor corrupti modi debitis ab.
Similique omn
voluptatum possimus odit perspiciatis aliquam a ratione quia,
maxime facere nisi necessitatibus consequatur expedita?


          </textarea>  
        </div>
</div>





