<div class="background">
<div class="first_block">
    <div class="row">


           
            <div class="col-sm-2 offset-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Liste des profils</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/acceuil']"><img src="../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <br><br><br>

   <h2>Choisissez le profil que vous souhaitez utiliser:</h2><br><br>
   <button class="profils" [routerLink]="['/taches']">Mécanicien</button><br><br><br>
   <button class="profils" [routerLink]="['/parc_auto']">Commercial</button><br><br><br>


</div>