<div class="background">
<div class="first_block">
    <div class="row">


           
            <div class="col-sm-2 offset-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Liste des profils</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/acceuil']"><img src="../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <br><br><br><br>


   <button class="profils" [routerLink]="['/taches']">Mécanicien</button><br><br><br>
<input type="submit" class="profils" [routerLink]="['/parc_auto']"  value="Commercial">

</div>