
<body id="body_acceuil">
  <div id="one">
<div id="two"> Connexion à l'appli JM Garage</div><br><br>


<input type="text" class="A" name="User Login" disabled value="User login :"><br><br><br>
<input type="text" class="B" placeholder="Enter Your Login :"><br><br><br>

<input type="text" class="A" disabled value="User password :"><br><br><br>

    <input type="text" class="B"  placeholder="Enter Your Password :"><br><br><br>

<input type="submit" class="login" [routerLink]="['/profils']" value="Login">
    
</div>
 
</body>

