<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1>Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Liste des ventes</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/acceuil']">out</h1></div>
    </div>
    </div>

    <div class="scrollbar" id="style-4">
    <div class="row">
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/ventes']">Ventes</h1></div>
           
          
    </div>
    <hr>
     